.contactMessage{
    font-size: 35px;
    text-align: center;
}

.contactContainer{
    width: 100%;
}

.formContainer{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.formButton{
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    /* .contactContainer{
        background-color: lightpink;
    } */

    .formContainer{
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }
}
