.header{
    background-color: #152235;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    height: 65px;
    flex-shrink: 0;
}

.ul{
    display: flex;
    justify-content: center;
}

.li{
    display: inline-block;
}