.header{
    background-color: #152235;
    width: 100%;
    margin: 0;
    padding: 17px 0 0 0;
    height: 65px;
    flex-shrink: 0;
}

.ulHeader{
    display: flex;
    justify-content: center;
    padding: 0;
}

.liHeader{
    display: inline-block;

}

.hyperlinkHeader{
    width: auto;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

.hyperlinkHeader:hover {
    border: white 2px solid;
    border-radius: 3px;

}


@media only screen and (max-width: 1200px) {
    .liHeader{
        margin: 0 30px;
    }
}

@media only screen and (max-width: 800px) {
    .liHeader{
        margin: 0 30px;
    }

    .ulHeader{
        margin: 0;
    }

}