.portfolioTitle{
    text-align: center;
    font-size: 50px;
}

.portfolioContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-width: 1600px;
}

.projectContainer{
    width: 45%;
    margin: 30px 20px; 
    border: solid 4px SlateGray;
}

.projectImageContainer{
    position: relative;
}

.projectImage{
    width: 100%;
    filter: brightness(1);
    transition-duration: 0.5s;
}

.projectImageContainer:hover > .projectImage{
    filter: brightness(0.1);
    transition-duration: 0.5s;
}

.projectImageContainer:hover > .projectTitle{
    display: inline-block;
}

.projectImageContainer:hover .projectHyperlink{
    display: inline-block;
}

.projectTitle{
    display:none;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 10%;
    color: aliceblue;
}

.projectHyperlink{
    display:none;
    color: aliceblue;
    text-decoration: none;
}


@media only screen and (max-width: 1050px) {
    /* .portfolioContainer{
        background-color: lightpink;
    } */
    .projectContainer{
        width: 100%;
    }
}