.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 0 20px;
    max-width: 1600px;
    /* background-color:wheat; */
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  .lhs {
    width: 33%;
    padding-top: 50px;
    padding-right: 40px;
  }
  
  .title {
    text-align: right;
    font-size: 50px;
    margin-bottom: 0;
  }
  
  .subtitle {
    text-align: right;
    font-size: 30px;
    color: peru;
  }
  
  .cosmeticSubtitle {
    width: 100px;
    height: 10px;
    margin-top: 20px;
    /* text-align: right; */
    margin-left: auto;
    margin-right: 0;
    background-color: peru;
  }
  
  .introduction {
    padding-top: 100px;
    text-align: right;
    font-size: 25px;
    padding-left: 40px;
  }
  
  .mid {
    width: 33%;
    text-align: center;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
  }
  
  .rhs {
    width: 33%;
    padding: 100px 40px 0 40px;
  }
  
  .rhsTitle {
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .projectsIntro {
    padding-top: 30px;
    font-size: 50px;
    border-bottom: 4px solid #152235;
    width: 60%;
    text-align: center;
  }
  
  @media only screen and (max-width: 1600px) {
    .aboutContainer {
      /* background-color: lightblue; */
      max-width: 1200px;
    }
  
    .profileImage {
      margin-top: 60px;
      width: 100%;
      height: 90%;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .aboutContainer {
      /* background-color: lightgreen; */
      flex-shrink: 1;
    }
  
    .lhs {
      width: 50%;
    }
  
    .mid {
      width: 50%;
    }
  
    .profileImage {
      margin-top: 60px;
      width: 100%;
      height: 90%;
    }
  
    .rhs {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 850px) {
    .aboutContainer {
      /* background-color: lightpink; */
      max-width: 800px;
      max-width: 800px;
      flex-shrink: 1;
    }
  
    .lhs {
      width: 100%;
      padding: 20px 0 0 0;
    }
  
    .title {
      font-size: 65px;
      text-align: left;
    }
  
    .subtitle {
      font-size: 40px;
      text-align: left;
    }
  
    .cosmeticSubtitle {
      height: 7px;
      width: 100px;
      margin: 0;
    }
  
    .introduction {
      padding: 30px 0 0 0;
      text-align: left;
    }
  
    .mid {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  
    .profileImage {
      margin-top: 30px;
      width: 100%;
      height: 90%;
    }
  
    .rhs {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  