.header {
  background-color: #152235;
  width: 100%;
  margin: 0;
  padding: 17px 0 0 0;
  height: 65px;
  flex-shrink: 0;
}

.ulHeader {
  display: flex;
  justify-content: center;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .ulHeader {
    margin: 0;
  }
}
